//color variables 
$primary: #0182c1;
$accent: #00B1FF;
$warning:#FFC107;
$error:#b33945;
$success:#51ba30;
$darkgrey:#ccc;
//border-radious
$card-radious:10px;
//font sizes 
$page-header:14px;
$lable-font:12px;
$status-closed:#8fb6c9;
$confirmed:#40b5ed;
$status-waiting:#cda600;
$success-text:#39ae2e;
$confirmed-text:#40b5ed;
$card-header:#6d8a98;
