@import '../../../../styles/utilities/_variables.scss';
@import '../../../../styles/component/_dashboard-layout';

.dashboard {
  min-height: Calc(100vh - 120px);
  display: flex;
  @include d-layout(8, 1fr);
  @media (max-width: 1000px) {
    // grid-template-columns: repeat(auto-fill, 100%) !important;
    display: flex;
    flex-wrap: wrap;
    // .card {
    //   grid-column: unset;
    // }
    // .quick-links {
    //   grid-row: span 1;
    // }
    // .t-sheet {
    //   margin-top: 0;
    // }
    &__comp {
      width: 100% !important;
      min-height: 150px !important;
    }
    .onboard-list {
      min-height: 303px !important;
    }
  }
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  max-height: 100vh;
  &__comp {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    app-payroll-calendar,
    app-project-onboarding,
    app-dashboard-holidays,
    app-birthday-annivarsary,
    app-quick-links {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
.quick-links {
  background-color: #f7f7f7;
}
.p-on-board {
  background-color: #f7f7f7;
}
.b-a {
  background-color: #f0f8ff;
}
.p-roll {
  background-color: #f7f7f7;
  border-radius: 10px;
}
.holidays {
  background-color: #f0f8ff;
  border-radius: 10px;
}
.chart-can {
  flex: 1;
  width: 100%;
}
.onboard-list,
.my-tasks {
  grid-column: span 3;
  grid-row: span 2;
  // overflow: hidden;
}
.onboarding {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mytasks {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.task-count {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.q-links {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-count,
.quick-link {
  grid-column: span 3;
}
.p-1 {
  padding: 10px;
}
.quick-cards {
  grid-column: span 2;
  grid-row: span 4;
  overflow: auto;
  position: relative;
  -webkit-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.23);

  &__scroll {
    height: 125%;
    overflow: auto;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(5, Calc(25% - 10px));
    // .dashboard__comp {
    //   min-height: Calc(22vh - 20px);
    // }
    @media (max-width: 1000px) {
      grid-template-rows: auto;
    }
  }
}
.count {
  grid-column: span 6;
}
