@import '../../../../../styles/utilities/form-group';

.si__content {
  flex: 1;
}
.p-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.card__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  button {
    margin-left: 15px;
  }
  .disable-btn {
    background-color: white;
  }
}
.ssn-option {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  z-index: 11;
  input {
    margin-right: 10px;
    cursor: pointer;
  }
}
.phone {
  display: flex;
  justify-content: space-between;
  &__code {
    width: 20%;
    margin-right: 10px;
  }
  &__ext {
    margin-left: 10px;
    width: 20%;
  }
  &__number {
    flex-grow: 1;
  }
}
.phone-ext {
  &__number {
    width: 55%;
  }
}
.edit-icon {
  min-width: 24px;
  height: 24px;
  border-radius: 30px;
  padding: 0;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2f5ff;
  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #008acc;
  }
}
.work-autho-ead {
  position: relative;
  .mat-form-field {
    width: 100%;
  }
  mat-icon {
    position: absolute;
    right: -27px;
    top: 10px;
    color: #0182c1;
    cursor: pointer;
  }
}
.google-spinner {
  float: right;
  margin-left: 8px;
}
