.adp__tbl {
  table {
    width: 100%;
    th {
      padding: 12px 10px;
    }
    td {
      padding: 5px 10px;
      &:last-child {
        text-align: center;
      }
    }
  }
}

.spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-data-display {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #ccc;
}

.edit-icon {
  display: block;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 0;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-icon {
    font-size: 18px;
  }
}
::ng-deep .mat-icon-button.mat-button-disabled.mat-button-disabled {
  background-color: transparent;
  border: none;
}
.btnprnt {
  display: flex;
  button {
    margin-left: 10px;
  }
}
::ng-deep .mat-paginator {
  background: transparent !important;
}
