<div class="employee-details__content-header">
  <div class="modal-popup">
    <div class="modal-popup__content">
      <div class="card">
        <div class="card__header">
          <h2>Anniversaries</h2>
          <button
            class="close-btn"
            (click)="onCancel($event)"
            mat-button
            color="primary"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="cards">
          <div class="profiles profiles--today">
            <div class="profiles__title">
              <p>Today</p>
            </div>
            <div
              *ngIf="todayAnniversary.length === 0"
              class="profiles__today profiles__today--nobirthdays"
            >
              <img
                src="./assets/svg/Anniversaries-v1.svg"
                width="183px"
                alt=""
              />
              <p>No one is having anniversary today</p>
            </div>
            <div *ngIf="todayAnniversary.length > 0" class="profiles__today">
              <div class="profiles__today--previous">
                <button
                  mat-button
                  [style.visibility]="
                    !isTodayAnvBackward ? 'hidden' : 'visible'
                  "
                  (click)="todayAnniversaryBackward()"
                >
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>
              </div>
              <div class="profiles__list">
                <div class="employees">
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ todayAnniversary[idx]?.years }} yrs
                    </div>
                    <img
                      *ngIf="todayAnniversary[idx]?.image; else defaultImage"
                      [src]="todayAnniversary[idx]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        todayAnniversary[idx]?.name +
                          ' ' +
                          todayAnniversary[idx]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ todayAnniversary[idx]?.name }}</label
                    >
                    <p>
                      {{ todayAnniversary[idx]?.date }}
                      {{ todayAnniversary[idx]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ todayAnniversary[idx + 1]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        todayAnniversary[idx + 1]?.image;
                        else defaultImage
                      "
                      [src]="todayAnniversary[idx + 1]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        todayAnniversary[idx + 1]?.name +
                          ' ' +
                          todayAnniversary[idx + 1]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ todayAnniversary[idx + 1]?.name }}</label
                    >
                    <p>
                      {{ todayAnniversary[idx + 1]?.date }}
                      {{ todayAnniversary[idx + 1]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ todayAnniversary[idx + 2]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        todayAnniversary[idx + 2]?.image;
                        else defaultImage
                      "
                      [src]="todayAnniversary[idx + 2]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        todayAnniversary[idx + 2]?.name +
                          ' ' +
                          todayAnniversary[idx + 2]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ todayAnniversary[idx + 2]?.name }}</label
                    >
                    <p>
                      {{ todayAnniversary[idx + 2]?.date }}
                      {{ todayAnniversary[idx + 2]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ todayAnniversary[idx + 3]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        todayAnniversary[idx + 3]?.image;
                        else defaultImage
                      "
                      [src]="todayAnniversary[idx + 3]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        todayAnniversary[idx + 3]?.name +
                          ' ' +
                          todayAnniversary[idx + 3]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ todayAnniversary[idx + 3]?.name }}</label
                    >
                    <p>
                      {{ todayAnniversary[idx + 3]?.date }}
                      {{ todayAnniversary[idx + 3]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ todayAnniversary[idx + 4]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        todayAnniversary[idx + 4]?.image;
                        else defaultImage
                      "
                      [src]="todayAnniversary[idx + 4]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        todayAnniversary[idx + 4]?.name +
                          ' ' +
                          todayAnniversary[idx + 4]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ todayAnniversary[idx + 4]?.name }}</label
                    >
                    <p>
                      {{ todayAnniversary[idx + 4]?.date }}
                      {{ todayAnniversary[idx + 4]?.month }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="profiles__today--next">
                <button
                  mat-button
                  [style.visibility]="!isTodayAnvForward ? 'hidden' : 'visible'"
                  (click)="todayAnniversaryForward()"
                >
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="profiles profiles--upcoming">
            <div class="profiles__title">
              <p>Next 7 Days</p>
            </div>
            <div
              *ngIf="nextWeekAnniversaryDates.length === 0"
              class="profiles__today profiles__today--nobirthdays"
            >
              <img
                src="./assets/svg/Anniversaries-v1.svg"
                width="183px"
                alt=""
              />
              <p>No one is having anniversary in next 7 days</p>
            </div>
            <div
              *ngIf="nextWeekAnniversaryDates.length > 0"
              class="profiles__today"
            >
              <div class="profiles__today--previous">
                <button
                  mat-button
                  [style.visibility]="!isMovingBackward ? 'hidden' : 'visible'"
                  (click)="movingBackward()"
                >
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>
              </div>
              <div class="profiles__list">
                <div class="employees">
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ nextWeekAnniversaryDates[index]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        nextWeekAnniversaryDates[index]?.image;
                        else defaultImage
                      "
                      [src]="nextWeekAnniversaryDates[index]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        nextWeekAnniversaryDates[index]?.name +
                          ' ' +
                          nextWeekAnniversaryDates[index]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ nextWeekAnniversaryDates[index]?.name }}</label
                    >
                    <p>
                      {{ nextWeekAnniversaryDates[index]?.date }}
                      {{ nextWeekAnniversaryDates[index]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ nextWeekAnniversaryDates[index + 1]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        nextWeekAnniversaryDates[index + 1]?.image;
                        else defaultImage
                      "
                      [src]="nextWeekAnniversaryDates[index + 1]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        nextWeekAnniversaryDates[index + 1]?.name +
                          ' ' +
                          nextWeekAnniversaryDates[index + 1]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ nextWeekAnniversaryDates[index + 1]?.name }}</label
                    >
                    <p>
                      {{ nextWeekAnniversaryDates[index + 1]?.date }}
                      {{ nextWeekAnniversaryDates[index + 1]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ nextWeekAnniversaryDates[index + 2]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        nextWeekAnniversaryDates[index + 2]?.image;
                        else defaultImage
                      "
                      [src]="nextWeekAnniversaryDates[index + 2]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        nextWeekAnniversaryDates[index + 2]?.name +
                          ' ' +
                          nextWeekAnniversaryDates[index + 2]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ nextWeekAnniversaryDates[index + 2]?.name }}</label
                    >
                    <p>
                      {{ nextWeekAnniversaryDates[index + 2]?.date }}
                      {{ nextWeekAnniversaryDates[index + 2]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ nextWeekAnniversaryDates[index + 3]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        nextWeekAnniversaryDates[index + 3]?.image;
                        else defaultImage
                      "
                      [src]="nextWeekAnniversaryDates[index + 3]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        nextWeekAnniversaryDates[index + 3]?.name +
                          ' ' +
                          nextWeekAnniversaryDates[index + 3]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ nextWeekAnniversaryDates[index + 3]?.name }}</label
                    >
                    <p>
                      {{ nextWeekAnniversaryDates[index + 3]?.date }}
                      {{ nextWeekAnniversaryDates[index + 3]?.month }}
                    </p>
                  </div>
                  <div class="employees__profile">
                    <div class="employees__profile--exp">
                      {{ nextWeekAnniversaryDates[index + 4]?.years }} yrs
                    </div>
                    <img
                      *ngIf="
                        nextWeekAnniversaryDates[index + 4]?.image;
                        else defaultImage
                      "
                      [src]="nextWeekAnniversaryDates[index + 4]?.image"
                      alt=""
                    />
                    <label
                      for=""
                      matTooltip="{{
                        nextWeekAnniversaryDates[index + 4]?.name +
                          ' ' +
                          nextWeekAnniversaryDates[index + 4]?.lname
                      }}"
                      matTooltipPosition="right"
                      >{{ nextWeekAnniversaryDates[index + 4]?.name }}</label
                    >
                    <p>
                      {{ nextWeekAnniversaryDates[index + 4]?.date }}
                      {{ nextWeekAnniversaryDates[index + 4]?.month }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="profiles__today--next">
                <button
                  mat-button
                  [style.visibility]="!isMovingForward ? 'hidden' : 'visible'"
                  (click)="movingForkward()"
                >
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <ng-template #defaultImage>
            <img src="./assets/svg/profile-empty.svg" alt="" />
          </ng-template>
        </div>
        <div class="table-parent">
          <div class="table-parent__header">
            <div class="table-parent__header--search">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  [disabled]="!enableSearch"
                  #search
                  (keyup)="performSearch(search.value)"
                  matTooltip="Search....."
                  matTooltipPosition="above"
                  placeholder="Search....."
                />               
                <mat-icon *ngIf="!enableSearch" id="search-icon" matSuffix
                  >search</mat-icon
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Months</mat-label>
                <mat-select
                  [formControl]="monthControl"
                  (selectionChange)="onMonthSelection()"
                  multiple
                >
                  <mat-option *ngFor="let month of monthList" [value]="month">{{
                    month
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let month of monthControl.value"
                    [removable]="true"
                    (removed)="onMonthRemoved(month)"
                  >
                    {{ month }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>
            </div>
            <div
              *ngIf="tableData?.length > 0"
              class="table-parent__header--export"
            >
            <app-download-icon (downloadBtnClicked)="download($event)"></app-download-icon>
            </div>
          </div>
          <div *ngIf="isLoadSpinner" class="spinner">
            <app-spinner diameter="35"></app-spinner>
          </div>
          <div class="anniversary-tbl">
            <table
              *ngIf="!isLoadSpinner"
              mat-table
              [dataSource]="dataSource"
              class="mat-elevation-z8"
            >
              <!-- Serial Number -->
              <ng-container matColumnDef="s.no">
                <th mat-header-cell *matHeaderCellDef>S.no</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.sno }}
                </td>
              </ng-container>

              <!-- Emp Code Column -->
              <ng-container matColumnDef="employeeCode">
                <th mat-header-cell *matHeaderCellDef>Emp Code</th>
                <td mat-cell *matCellDef="let element">
                  <div class="emp-id">
                    <div
                      class="employee"
                      *ngIf="
                        element.displayPictureBase64 !== null;
                        else noDisplayPic
                      "
                    >
                      <img
                        src="{{ element.displayPictureBase64 }}"
                        width="32px"
                        alt=""
                      />
                    </div>
                    <ng-template #noDisplayPic>
                      <div class="employee">
                        <img
                          *ngIf="element.displayPictureBase64 === null"
                          src="./assets/svg/profile-empty.svg"
                          width="32px"
                          alt=""
                        />
                      </div>
                    </ng-template>
                    {{ element.employeeCode }}
                  </div>
                </td>
              </ng-container>

              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.firstName }}
                </td>
              </ng-container>

              <!-- Last Name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lastName }}
                </td>
              </ng-container>

              <!-- Alias Name Column -->
              <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef>Alias Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.alias }}
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.email }}
                </td>
              </ng-container>

              <!-- Phone Column -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Cell Phone</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.phone }}
                </td>
              </ng-container>

              <!-- Hours Completed Column -->
              <ng-container matColumnDef="totalHoursWorked">
                <th mat-header-cell *matHeaderCellDef>Hours Completed</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.totalHoursWorked }}
                </td>
              </ng-container>

              <!-- Date Of Joining Column -->
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Date of Joining</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.startDate }}
                </td>
              </ng-container>

              <!-- Years Completed Column -->
              <ng-container matColumnDef="yearsCompleted">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="max-width: 100px !important"
                >
                  Years Completed
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.yearsCompleted }} yrs
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Group header -->
              <ng-container matColumnDef="groupHeader">
                <td colspan="999" mat-cell *matCellDef="let groupBy">
                  <strong> {{ groupBy.month }}</strong>
                </td>
              </ng-container>
              <tr
                mat-row
                *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
              ></tr>
            </table>
          </div>
          <h4
            class="no-data-display"
            *ngIf="!isLoadSpinner && dataSource?.data?.length === 0"
          >
            No Data to Display
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
