@import '../../../../../../../styles/utilities/variables';
::ng-deep .mat-dialog-container {
  padding: 0px;
}

.spinner {
  position: inherit;
  background-color: #fafafa;
}

.error-msg {
  color: red;
  font-size: small;
  margin-left: 320px;
}

.mat-primary {
  border: 1px solid $primary;
}
p {
  strong {
    color: red !important;
  }
}
