<div class="aura-page-container">
  <div class="employee-top-wrap">
    <div class="employee-card aura-widget">
      <div
        *ngIf="isLoadingImage; else loadingImage"
        class="employee-card aura-widget spinner header-spinner"
      >
        <app-spinner diameter="35"></app-spinner>
      </div>
      <ng-template #loadingImage>
        <div class="dflex flex-col flex-center">
          <div
            *ngIf="isLoading; else topLeft"
            class="aura-widget employee-card spinner header-spinner"
          >
            <app-spinner diameter="35"></app-spinner>
          </div>
          <ng-template #topLeft>
            <div class="employee-card__userpic" (click)="zoomIn()">
              <img [src]="profileSrc" />
            </div>
            <div class="employee-profile-popup" *ngIf="show">
              <span
                class="material-icons employee-profile-popup__zoomOut"
                (click)="zoomOut()"
                >cancel</span
              >
              <img [src]="profileSrc" class="employee-profile-popup__zoomIn" />
              <div class="employee-profile-popup__overlay"></div>
            </div>
            <div class="employee-card__actions">
              <button mat-button [matMenuTriggerFor]="menu">
                Action <span class="material-icons"> expand_more </span>
              </button>
              <mat-menu #menu="matMenu">
                <button [disabled]= true mat-menu-item>Initiate Onboarding</button>
                <button [disabled]= true mat-menu-item>Initiate Marketing</button>
                <button [disabled]= true mat-menu-item>Employment Change</button>
                <button [disabled]= true mat-menu-item (click)="initiateSeparation()">
                  Initiate Separation
                </button>
              </mat-menu>
            </div>
          </ng-template>
        </div>
        <div class="dflex flex-col">
          <p class="employee-card__firstlast">{{ personData?.alias }}</p>
          <p class="employee-card__lastname">
            {{ personData?.firstName }}&nbsp;{{ personData?.lastName }}
            <span
              class="material-icons"
              [ngClass]="{
                inactive: employeeProfileResult?.employeeStatusCode !== 1,
                active: employeeProfileResult?.employeeStatusCode === 1
              }"
              >check_circle</span
            >
          </p>
          <p class="employee-card__jobtitle">
            {{ this.employeeProfileResult?.employeeTitle }}
          </p>
          <p class="employee-card__employeecode">
            Emp Code : {{ this.employeeProfileResult?.employeeCode }}
          </p>
          <p class="employee-card__adpfilenumber">
            ADP ID :
            <span *ngIf="this.employeeProfileResult?.adpFileNumber">{{
              this.employeeProfileResult?.adpFileNumber
            }}</span>
          </p>
          <hr class="aura-divider-xs" *ngIf="isLoading === false" />
          <p class="employee-card__number">
            <span class="material-icons">phone_iphone</span>
            {{ mobileNO }}
            <mat-icon
              *ngIf="phoneNumber.size > 0"
              class="employee-card__number--drop"
              [matMenuTriggerFor]="phoneNumbers"
              >arrow_drop_down</mat-icon
            >
          </p>
          <div class="phoneNumber-dropdown">
            <mat-menu #phoneNumbers="matMenu">
              <div
                class="number-dropdown"
                *ngFor="
                  let entry of phoneNumber
                    | keyvalue
                    | slice: 0:phoneNumber.size
                "
              >
                <button mat-menu-item *ngIf="entry.key === 3">
                  <mat-icon>home</mat-icon>{{ entry.value }}
                </button>
                <button mat-menu-item *ngIf="entry.key === 9">
                  <mat-icon>work</mat-icon>{{ entry.value }},
                  <b> Ext : </b> &nbsp;
                  {{ contactAddrExt }}
                </button>
              </div>
            </mat-menu>
          </div>

          <p>
            <span class="material-icons">email</span>
            {{ email }}
          </p>
          <p>
            <span class="material-icons">room</span
            ><span *ngIf="workAddress?.city">
              {{ workAddress?.city + ', ' }}</span
            >
            <span>{{ workAddrStateName }}</span>
          </p>
        </div>
        <div class="employee-card__useractive" *ngIf="isLoading === false">
          <span
            (click)="openUserActivity()"
            class="material-icons"
            matTooltip="User Activity"
            ><img
              src="./assets/svg/candidate-activity-icon.svg"
              class="user--activity-icon"
          /></span>
        </div>
      </ng-template>
    </div>
    <div class="employee-quickinfo-wrap aura-widget">
      <div
        *ngIf="isLoading; else data"
        class="aura-widget spinner header-spinner"
      >
        <app-spinner diameter="35"></app-spinner>
      </div>

      <ng-template #data>
        <div class="employee-quickinfo">
          <div class="employee-quickinfo__heading">
            <h4>PRIMARY</h4>
            <span></span>
          </div>
          <ul class="border-right">
            <li class="li-50">
              <p class="employee-quickinfo__label">SSN</p>
              <p class="employee-quickinfo__value">
                {{ personData?.socialSecurityNumber }}
                <span
                  *ngIf="personData?.socialSecurityNumber"
                  class="material-icons employee-quickinfo__visible-icn"
                  (click)="showSSN(personData.socialSecurityNumber)"
                >
                  visibility
                </span>
              </p>
            </li>
            <li class="li-50">
              <p class="employee-quickinfo__label">Gender:</p>
              <p class="employee-quickinfo__value">{{ personData?.gender }}</p>
            </li>
            <li class="li-50">
              <p class="employee-quickinfo__label">Date of Birth:</p>
              <p class="employee-quickinfo__value">
                {{ personData?.dateOfBirth | date: 'mediumDate' }}
              </p>
            </li>
            <li class="li-50">
              <p class="employee-quickinfo__label">Living Address:</p>
              <p class="employee-quickinfo__value" *ngIf="livingAddress">
                {{ livingAddress?.addressLine1 }},<br />
                <span *ngIf="livingAddress?.addressLine2">
                  {{ livingAddress?.addressLine2 + ', ' }}</span
                >
                <span *ngIf="livingAddress?.addressLine3">
                  {{ livingAddress?.addressLine3 + ', ' }}</span
                >
                {{ livingAddress?.city }}, {{ livingAddrStateName }},
                {{ livingAddress?.postalCode }}
              </p>
            </li>
            <li class="li-50">
              <p class="employee-quickinfo__label">Work Address:</p>
              <p class="employee-quickinfo__value" *ngIf="workAddress">
                {{ workAddress?.addressLine1 }},<br />
                <span *ngIf="workAddress?.addressLine2">
                  {{ workAddress?.addressLine2 + ', ' }}</span
                >
                <span *ngIf="workAddress?.addressLine3">
                  {{ workAddress?.addressLine3 + ', ' }}</span
                >
                {{ workAddress?.city }}, {{ workAddrStateName }},
                {{ workAddress?.postalCode }}
              </p>
            </li>
          </ul>
        </div>
        <div class="employee-quickinfo">
          <div class="employee-quickinfo__heading">
            <h4>EMPLOYMENT</h4>
            <span></span>
          </div>
          <ul>
            <li>
              <p class="employee-quickinfo__label">Employment Type</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.employmentType }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Emp Code</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.employeeCode }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Start Date</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.startDate | date: 'mediumDate' }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">End Date</p>
              <p class="employee-quickinfo__value">
                {{
                  this.employeeProfileResult?.terminationDate === null
                    ? '-'
                    : (this.employeeProfileResult?.terminationDate
                      | date: 'mediumDate')
                }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Total Hrs Worked</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.totalHoursWorked }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Wage Type</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.wageType }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Work Auth. Status</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.workAuthorizationStatus }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Benefits</p>
              <p class="employee-quickinfo__value">{{ getBenefits() }}</p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Recruiter</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.recruiter }}
              </p>
            </li>

            <li>
              <p class="employee-quickinfo__label">Supervisor</p>
              <p class="employee-quickinfo__value">
                {{ this.employeeProfileResult?.supervisor }}
              </p>
            </li>
            <li>
              <p class="employee-quickinfo__label">Security Clearance</p>
              <div class="employee-quickinfo__value">
                <ul *ngFor="let securityClearance of securityClearances">
                  <li>
                    {{ securityClearance?.securityClearanceLevel }}
                    <mat-icon
                      [mdePopoverTriggerFor]="securityContent"
                      class="color-primary info-icon-popover"
                      >info
                    </mat-icon>
                  </li>
                  <mde-popover
                    #securityContent="mdePopover"
                    mdePopoverPositionX="after"
                    [mdeFocusTrapEnabled]="false"
                    [mdeFocusTrapAutoCaptureEnabled]="false"
                    [mdePopoverOffsetX]="0"
                    [mdePopoverOffsetY]="20"
                  >
                    <div class="security">
                      <div class="security__field">
                        <div class="security__field--label">Polygraph</div>
                        <div class="security__field--value">
                          {{
                            getSecurityClearancePolyGraphTypes(
                              securityClearance?.polygraphType!
                            )
                          }}
                        </div>
                      </div>
                    </div>
                  </mde-popover>
                </ul>
              </div>
            </li>
            <li>
              <p class="employee-quickinfo__label">Social Profiles</p>
              <div class="employee-quickinfo__value">
                <ul class="social-profiles">
                  <li *ngFor="let socialProfile of socialMediaLinks">
                    <div *ngIf="socialProfile?.socialMediaLink === 'Linkedin'">
                      <a href="{{ socialProfile?.url }}" target="_blank">
                        <img
                          width="18px"
                          src="./assets/svg/linkedin-sm.svg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div *ngIf="socialProfile?.socialMediaLink === 'Twitter'">
                      <a href="{{ socialProfile?.url }}" target="_blank">
                        <img
                          width="18px"
                          src="./assets/svg/twitter-sm.svg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div *ngIf="socialProfile?.socialMediaLink === 'Facebook'">
                      <a href="{{ socialProfile?.url }}" target="_blank">
                        <img
                          width="18px"
                          src="./assets/svg/facebook-sm.svg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div *ngIf="socialProfile?.socialMediaLink === 'Youtube'">
                      <a href="{{ socialProfile?.url }}" target="_blank">
                        <img
                          width="18px"
                          src="./assets/svg/youtube-sm.svg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div *ngIf="socialProfile?.socialMediaLink === 'Web'">
                      <a href="{{ socialProfile?.url }}" target="_blank">
                        <img
                          width="18px"
                          src="./assets/svg/web-sm.svg"
                          alt=""
                        />
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="employee-quickinfo__edit-icn">
            <span class="material-icons" (click)="editProfile('Edit')">
              edit
            </span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div class="employee-profile">
  <app-employee-details-panel
    [personId]="personId"
    [personName]="personName"
    [id]="employeeId"
  >
  </app-employee-details-panel>
</div>
