<div class="employee-details__content-header">
  <div class="modal-popup">
    <form
      class="pop-inner"
      [formGroup]="drivingLicenseForm"
      (ngSubmit)="saveDrivingLicense()"
    >
      <div class="modal-popup__header">
        <h3>{{ headerTitle }}</h3>
        <button
          (click)="onCancel($event, drivingLicenseForm)"
          mat-button
          color="primary"
          type="button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="modal-popup__content">
        <div *ngIf="isLoading" class="spinner">
          <app-spinner diameter="35"></app-spinner>
        </div>
        <div class="form-fld-group">
          <mat-form-field appearance="outline">
            <mat-label>License No</mat-label>
            <input
              required
              matInput
              formControlName="drivingLicenseNo"
              placeholder="Driving License No"
              maxlength="20"
            />
            <mat-error
              *ngIf="
                drivingLicenseForm.controls['drivingLicenseNo'].errors?.required
              "
              >This field is mandatory.</mat-error
            >
            <mat-error
              *ngIf="
                drivingLicenseForm.controls['drivingLicenseNo'].errors?.pattern
              "
              >Invalid Driving License Number</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="date-error">
            <mat-label> Issue Date</mat-label>
            <input
              required
              matInput
              min="{{ issueMinDate }}"
              max="{{ issueMaxDate }}"
              formControlName="dlIssueDate"
              [matDatepicker]="dlIssueDate"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dlIssueDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #dlIssueDate></mat-datepicker>
            <mat-error
              *ngIf="
                drivingLicenseForm.controls['dlIssueDate'].errors?.required
              "
              >Please Select Driving License Issue Date</mat-error
            >
            <small
              class="error_message-date"
              *ngIf="drivingLicenseForm.hasError('dlDatesNotValid')"
            >
              <span class="material-icons"> error_outline </span> Issue Date
              should be before Expiry Date
            </small>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> Expiry Date</mat-label>
            <input
              required
              matInput
              min="{{ expiryMinDate }}"
              max="{{ expiryMaxDate }}"
              formControlName="dlExpiryDate"
              [matDatepicker]="dlExpiryDate"
              placeholder="MM/DD/YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dlExpiryDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #dlExpiryDate></mat-datepicker>
            <mat-error
              *ngIf="
                drivingLicenseForm.controls['dlExpiryDate'].errors?.required
              "
              >Please Select Driving License Expiry Date</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              required
              matInput
              formControlName="city"
              placeholder="City"
              maxlength="50"
            />
            <mat-error
              *ngIf="drivingLicenseForm.controls['city'].errors?.required"
              >This field is mandatory.</mat-error
            >
            <mat-error
              *ngIf="drivingLicenseForm.controls['city'].errors?.pattern"
              >Only alphabets are allowed.</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select required formControlName="stateCode">
              <mat-option
                *ngFor="let entry of mapState | keyvalue"
                [value]="entry.key"
                >{{ entry.value }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="drivingLicenseForm.controls['stateCode'].errors?.required"
              >This field is mandatory.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input
              required
              matInput
              formControlName="zip"
              placeholder="Zip Code"
              maxlength="5"
            />
            <mat-error
              *ngIf="drivingLicenseForm.controls['zip'].errors?.required"
              >This field is mandatory.</mat-error
            >
            <mat-error
              *ngIf="drivingLicenseForm.controls['zip'].errors?.pattern"
              >Numeric and Maximum 5 digits allowed.
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="totalFiles > 0" class="width-100 full-width form-fld-group">
          <div
            formArrayName="docProperty"
            class="modal-popup__uploaded-file"
            *ngFor="let doc of docProperty.controls; let i = index"
          >
            <div [formGroupName]="i" class="width-100 flex-between">
              <mat-form-field
                *ngIf="actionType !== 'Add' && actionType !== 'Edit'"
                appearance="outline"
                class="file-name"
              >
                <mat-label>Document ID</mat-label>
                <input
                  matInput
                  formControlName="documentId"
                  placeholder="File Name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="file-name">
                <mat-label>Change File Name</mat-label>
                <input
                  matInput
                  formControlName="displayName"
                  placeholder="File Name"
                />
                <div class="file-format">
                  {{ doc?.get('fileExtension')?.value }}
                </div>
                <mat-error *ngIf="doc?.get('displayName')?.errors?.maxlength"
                  >Maximum 100 characters allowed.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="description">
                <mat-label> Description</mat-label>
                <input
                  matInput
                  formControlName="fileDescription"
                  placeholder="File Description"
                />
                <mat-error
                  *ngIf="doc?.get('fileDescription')?.errors?.maxlength"
                  >Maximum 500 characters allowed.
                </mat-error>
              </mat-form-field>
              <mat-icon (click)="deleteFile(doc, i)">delete</mat-icon>
            </div>
          </div>
        </div>

        <div class="form-fld-group">
          <div class="modal-popup__file-upload">
            <input
              type="file"
              title=" "
              accept="image/*,.pdf"
              multiple="multiple"
              formControlName="documentInfo"
              (change)="uploadfiles($event)"
            />
            <button class="btn">BROWSE FILE</button>
            <P>Drag & Drop File here</P>
            <P class="file-format-msg"
              >*Supported File Format (.pdf, .jpg, .jpeg, .png, .bmp)</P
            >
          </div>
        </div>
      </div>
      <div class="modal-popup__footer">
        <button
          mat-stroked-button
          color="primary"
          (click)="onCancel($event, drivingLicenseForm)"
          type="button"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          [disabled]="drivingLicenseForm.invalid"
          color="primary"
        >
          Save
        </button>
      </div>
      <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
    </form>
  </div>
  <div class="overlay"></div>
</div>
