@import '../../../../../styles/utilities/_tabs';
@import '../../../../../styles/utilities/form-group';

.adp {
  padding: 10px 15px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: 'ProximaNova-bold' !important;
    }

    button {
      padding: 0;
      width: 32px;
      height: 32px;
      min-width: auto;
      border-radius: 40px;

      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }
  }

  &__cnt {
    ::ng-deep .mat-tab-body-content {
      padding: 10px 15px;
    }

    padding: 10px;
    margin-top: 10px;

    ::ng-deep .mat-tab-labels {
      margin-left: 30px;
    }
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    ::ng-deep .mat-form-field {
      .mat-form-field-infix {
        padding: 10px 0;
        border-top: 6px solid transparent;
      }

      .mat-form-field-prefix {
        top: 10px !important;
        left: -4px;

        mat-icon {
          color: #696969;
          font-size: 20px;
        }
      }

      .mat-select-arrow-wrapper {
        transform: translateY(0%);
      }
    }

    &--search {
      min-width: 300px;

      ::ng-deep .mat-form-field {
        width: 100%;

        .mat-form-field-infix {
          padding: 5px 0;
          border-top: 6px solid transparent;
          top: 5px;
        }
      }
    }

    &--filter {
      display: flex;
      align-items: baseline;

      ::ng-deep .mat-form-field {
        width: 100px;
      }

      ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
      .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
        transform: translateY(-1.2375em) scale(0.75);
        width: 133.3333333333%;
      }
    }
  }

  &__tbl {
    table {
      width: 100%;
    }
  }
}

.count-text {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 5px;
  font-family: 'ProximaNova-bold' !important;
}

.closed {
  color: #359ed0;
}

.pending {
  color: #fda57a;
}

.cnd-personal-info {
  min-height: Calc(100vh - 106px);

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    button {
      margin-left: 10px;
    }
  }
}