<div class="card">
  <div class="card__window">
    <div class="card__window--header">
      <span class="red"></span><span class="yellow"></span><span class="green"></span>

    </div>
    <div class="card__window--center">
      <div class="card__window--cnt">
        <img src="./assets/svg/page-not-found.svg" alt="">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>The page you requested could not be found</p>
        <button mat-raised-button color='primary' (click)="goToLogin()"> Go to Login Page</button>
      </div>
    </div>
  </div>
</div>