@import '../../../../../../../app/styles/utilities/variables';
.employee-details-parent {
	padding: 20px;
}
.active-btn {
	color: #fff;
	padding: 2px 5px !important;
	background-color: #79b579 !important;
}
.inactive-btn {
	padding: 2px 5px !important;
	background-color: #ccc !important;
	color: #676767 !important;
}

.card-fields ul {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
