<div class="dashboard">
    <h1 class="dashboard__header-title">
        Admin Dashboard
    </h1>

    <div class="dashboard__row">
        <div class="dashboard__col1 aura-widget">

        </div>
        <div class="dashboard__col1 aura-widget">

        </div>
    </div>
    <div class="dashboard__row">
        <div class="dashboard__col2 aura-widget">

        </div>
        <div class="dashboard__col2 aura-widget">

        </div>
        <div class="dashboard__col2 aura-widget">

        </div>
    </div>
</div>