<app-base-header></app-base-header>
<div class="password-reset">
  <antra-password-reset *ngIf="!resetEmailSendSuccess" [emailAddressValidationMessage]="emailAddressValidationMsg"
    [showLoginError]="showLoginError" [loginErrorMessage]="loginErrorMessage"
    (passwordResetActionEvent)="sendVerificationEmail($event)"></antra-password-reset>
  <div *ngIf="isLoading" class="spinner">
    <app-spinner diameter="35"></app-spinner>
  </div>
  <div class="pwd-reset-successful" *ngIf="resetEmailSendSuccess">
    <antra-notification-dialog [successMessage]="successMessage" btnText="BACK TO LOGIN"
      [notificationStatus]="notificationStatus" [showRedirectButton]="true"
      (sendNotificationEvent)="showActionDetails($event)">
    </antra-notification-dialog>
  </div>
</div>