<app-base-header></app-base-header>
<div class="change-pwd">
  <antra-change-password *ngIf="!changePwdSuccess" class="default" [passwordPattern]="passwordPattern"
    [userName]="userName" [passwordValidationMessage]="passwordValidationMsg"
    [confirmPasswordValidationMessage]="confirmPasswordValidationMsg"
    (passwordResetActionEvent)="changePassword($event)"></antra-change-password>
  <div *ngIf="isLoading" class="spinner">
    <app-spinner diameter="35"></app-spinner>
  </div>
  <div class="pwd-reset-successful" *ngIf="changePwdSuccess">
    <antra-notification-dialog [successMessage]="successMessage" [errorMessage]="errorMessage" [btnText]="btnText"
      [notificationStatus]="notificationStatus" [showRedirectButton]="true"
      (sendNotificationEvent)="showActionDetails($event)">
    </antra-notification-dialog>
  </div>
</div>