@import '../../../../../styles/utilities/variables';
@import '../../../../../styles/utilities/form-group';
.employment-details {
  padding: 0 25px;
}

.form-info {
  position: relative;

  mat-icon {
    position: absolute;
    right: -37px;
    top: -7px;
    color: $primary;
    cursor: pointer;
    &.right-side {
      &:hover {
        &::after {
          top: 0;
          left: 0;
          position: absolute;
          margin: auto 0;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 13px solid rgb(22, 49, 96);
          border-bottom: 10px solid transparent;
          left: 14px;
        }
      }
    }
    &:hover {
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid rgb(22, 49, 96);
        display: block;
        position: absolute;
        top: 23px;
        left: 0;
        right: 0;
        margin: auto;
      }
      & + .field-info {
        display: block;
      }
    }
  }
}
.form-info {
  .mat-datepicker-input + mat-datepicker + mat-icon,
  .mat-datepicker-input + mat-icon {
    right: -71px;
    top: 0px;
  }
}
.no-after {
  &:hover {
    &::after {
      display: none !important;
    }
  }
}
.card__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  button {
    margin-left: 15px;
  }
  .disable-btn {
    background-color: white;
  }
}
.field-info {
  height: auto;
  overflow: auto;
  position: absolute;
  display: none;
  z-index: 111111;
  background: rgb(0, 138, 204);
  background: linear-gradient(
    144deg,
    rgba(0, 138, 204, 1) 0%,
    rgba(22, 49, 96, 1) 100%
  );

  width: 400px;
  right: -58px;
  top: 26px;
  border-radius: 10px !important;
  color: #fff;
  padding: 10px 15px;
  h4 {
    display: flex;
    justify-content: center;
  }
  &--top {
    bottom: 0;
    top: 0;
    margin: auto 0;
    height: fit-content;
    right: -444px;
  }
  &__form {
    display: flex;
    margin-bottom: 5px;
    label {
      font-weight: 500;
      font-size: 12px;
      color: #fff;
      text-align: right;
      margin-right: 5px;
      min-width: 30%;
      box-sizing: border-box;
    }
    p {
      font-size: 12px;
      color: #fff;
      display: flex;
      flex-grow: 1;
    }
  }
}
.ssn-option {
  position: absolute;
  bottom: -23px;
  font-size: 10px;
  display: flex;
  align-items: center;
  input {
    margin-right: 10px;
  }
}
.si__content {
  flex: 1;
}
.p-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.date-error {
  position: relative;
}
