@import '../../../../app/styles/utilities/variables';

.year-clndr {
  padding: 10px;
  &__month-nm {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;

    ::ng-deep .mat-calendar-controls {
      display: none;
    }
    ::ng-deep .mat-card {
      height: 100%;
      border-radius: 10px !important;
      .pay-date .mat-calendar-body-cell-content {
        color: #fff;
      }
    }
    ::ng-deep .mat-calendar-table {
      tr {
        td {
          border-radius: 20px !important;
          &.mat-calendar-body-label {
            height: 0px !important;
            visibility: hidden;
          }
        }
      }
    }
  }
  ::ng-deep .pay-date {
    background: $primary !important;
    position: relative;
    &::after {
      counter-increment: section;
      content: attr(aria-label);
      position: absolute;
      top: 30px;
      left: -29px;
      right: 0;
      z-index: 111 !important;
      margin: auto;
      // width: 150px;
      // height: 60px;
      width: 180px;
      height: 38px;
      border-radius: 5px;
      color: white;
      font-size: 10px;
      z-index: 1;
      // white-space: pre;
      line-height: 12px;
      border-top-color: #c8e7f1;
      background-color: #000;
      padding: 5px;
      display: none;
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 auto;
      z-index: 1;
    }
    &:hover {
      &::after {
        display: block !important;
      }
    }
  }
}
